<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
    </head>
    <body>
        <h1>Register</h1>
        <form method="post" action="/college-register">
           <label for="regno">Registration Number:</label>
            <input type="text" id="regno" name="regno">
            <br>
            <label for="college_name">College Name:</label>
            <input type="text" id="college_name" name="college_name">
            <br>
            <label for="university_name">University Name:</label>
            <input type="text" id="university_name" name="university_name">
            <br>
            <label for="address">College Address:</label>
            <input type="text" id="address" name="address">
            <br>
            <label for="type">College type:</label>
            <input type="text" id="type" name="type">
            <br>
            <label for="college_email">college Email:</label>
            <input type="text" id="email" name="college_email">
            <br>
            <label for="admin_name">Full Name:</label>
            <input type="text" id="admin_name" name="admin_name">
            <br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br>
            <input type="Submit" value="Sign up">
        </form>
    </body>
</html>


