<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
    </head>
    <body>
        <h1>Register</h1>
        <form method="post" action="/company-register">
           <label for="gst">GST Number:</label>
            <input type="text" id="gst" name="gst">
            <br>
            <label for="company_name">company Name:</label>
            <input type="text" id="company_name" name="company_name">
            <br>
            <label for="ceo">CEO Name:</label>
            <input type="text" id="ceo" name="ceo">
            <br>
            <label for="email">Company Email:</label>
            <input type="text" id="email" name="email">
            <br>
            <label for="address">Company Address:</label>
            <input type="text" id="address" name="address">
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br>
            <input type="Submit" value="Sign up">
        </form>
    </body>
</html>


