<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Social</title>
  </head>
  <body>
    <h1>Welcome to  Social</h1>
    <a href="./login">Login</a>
    <a href="./register">Register</a>
  </body>
</html>