<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Social</title>
  </head>
  <body>
    <h1>Welcome to  Social</h1>
    <h2>Login As</h2>
    <a href="./student-login">Student</a>
    <a href="./college-login">College</a>
    <a href="./company-login">company</a>
  </body>
</html>