<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Social</title>
  </head>
  <body>
    <h1>Welcome to  Social</h1>
    <h2>Register As</h2>
    <a href="./student-register">Student</a>
    <a href="/college-register">College</a>
    <a href="./company-register">company</a>
  </body>
</html>