<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
    </head>
    <body>
        <h1>Register As Student</h1>
        <form method="post" action="/student-register">
           <label for="enroll">Enrollement Number:</label>
            <input type="text" id="enroll" name="enroll">
            <br>
            <label for="name">Full Name:</label>
            <input type="text" id="name" name="name">
            <br>
            <label for="roll">ROll Number:</label>
            <input type="text" id="roll" name="roll">
            <br>
            <label for="branch">Branch Name:</label>
            <input type="text" id="branch" name="branch">
            <br>
            <label for="section">Section:</label>
            <input type="text" id="section" name="section">
            <br>
            <label for="email">Email Address:</label>
            <input type="text" id="email" name="email">
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br>
            <input type="Submit" value="Sign up">
        </form>
    </body>
</html>


